<div ng-controller="FieldController">
    <h1 class="page-header">Forms : Registration Form</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/form">Forms</a></li>
        <li role="presentation" class="active"><a href="#/field">Fields</a></li>
    </ul>
    <div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
            <tr ng-repeat="field in model.fields">
                <td>
                    <label>{{field.type}}</label>
                </td><!--TEXT><-->
                <td>
                    <label>{{field.label}}</label>
                </td>
                <td ng-switch="field.type">
                    <!-- 1. Single Line Text Field -->
                    <div  ng-switch-when="TEXT">
                        <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                    </div>
                    <!-- 2. Multi Line Text Field -->
                    <div ng-switch-when="TEXTAREA">
                        <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                    </div>
                    <!-- 3. Date Field -->
                    <div ng-switch-when="DATE">
                        <input type="date" class="form-control" style="text-align: center">
                    </div>
                    <!-- 4. Dropdown Field -->
                    <div ng-switch-when="OPTIONS">
                        <select class="form-control">
                            <option ng-repeat="option in field.options" value="{{option.value}}"></option>
                        </select>
                    </div>
                    <!-- 5. Checkboxes Field -->
                    <div ng-switch-when="CHECKBOXES">
                        <div ng-repeat="option in field.options" class="checkbox">
                            <label>
                                <input type="{{field.type}}">{{option.label}}
                            </label>
                        </div>
                    </div>
                    <!-- 6. RadioButtons Field -->
                    <div ng-switch-when="RADIOS">
                        <div ng-repeat="option in field.options" class="radio">
                            <label>
                                <input type="radio" name="{{option.value}}">{{option.label}}
                            </label>
                        </div>
                    </div>
                </td>
                <!-- Glyphicons -->
                <td>
                    <a href="#" class="btn btn-success btn-sm">
                        <scan class="glyphicon glyphicon-pensil"></scan>
                    </a>
                    <a href="#" class="btn btn-warning btn-sm">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a ng-click="model.deleteField(field)" class="btn btn-danger btn-sm">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-default btn-sm">
                        <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="nav nav-list"><li class="divider"></li></ul>
        <h1 class="page-header"></h1>
        <div class="form-group">
            <div class="col-sm-9"><br>
                <label for="inputText">Add New Field:</label>
                <select ng-model="model.fieldType" class="form-control" id="inputText">
                    <option value="SINGLELINE">Single Line Text</option>
                    <option value="MULTILINE">Multi Line Text</option>
                    <option value="DATE">Date</option>
                    <option value="DROPDOWN">Dropdown</option>
                    <option value="CHECKBOX">Checkboxes</option>
                    <option value="RADIO">Radio Buttons</option>
                </select>
            </div>
            <div class="col-sm-3"><br>
                <a ng-click="model.addField(model.fieldType)" class="btn btn-primary">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>

