<div ng-controller="ArtistController">
    <header>
        <div class="cover">
            <responsive-cover ng-model="data.images"></responsive-cover>
        </div>
        <h4>ARTIST</h4>
        <h1>{{data.name}}</h1>
        <div class="follower-count">{{data.followers.total | number}} followers</div>
        <div class="buttons">
            <div ng-show="user" ng-switch="likeArtistStatus">
                <div ng-switch-when="false">
                    <a class="button green" ng-click="addArtistToUser()" href="#/user">FOLLOW</a>
                </div>
                <div ng-switch-when="true">
                    <a class="button green" ng-click="deleteArtistFromUser()" href="#/user">UNFOLLOW</a>
                </div>
            </div>
            <div ng-show="!user">
                <a class="button button-add" href="#/">FOLLOW</a>
            </div>
        </div>
    </header>
    <hr/><br/>

    <div class="col-sm-12">
        <h3>Popular tracks</h3>
        <table class="tracks">
            <thead>
            <tr>
                <th></th>
                <th>TRACK</th>
                <th>ALBUM</th>
                <th>TIME</th>
                <th></th>
                <th>POPULARITY</th>
                <th>PREVIEW</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in toptracks">
                    <td>
                        <a class="button-xs button-add" ng-show="user" ng-click="toggleFromYourMusic($index)">
                            {{ t.like ? '-' : '+' }}
                        </a>
                    </td>
                    <td><a ng-click="saveTrack(t)">{{t.name}}</a></td>
                    <td><a ng-click="saveAlbum(t.album)" href="#/albums/{{t.album.id}}">{{t.album.name}}</a></td>
                    <td>{{t.duration_ms | displaytime}}</td>
                    <td></td>
                    <td>
                        <div class="pop-meter">
                            <div class="pop-meter-background"></div>
                            <div class="pop-meter-overlay" style="width: {{t.popularity }}%;"></div>
                        </div>
                    </td>
                    <td>
                        <iframe ng-src="{{t.uri | trustUrl}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr/><br/>

    <div ng-show="albums.length > 0">
        <h3>Albums</h3>
        <ul class="albums">
            <li ng-repeat="t in albums">
                <a href="#/albums/{{t.id}}">
                    <responsive-cover ng-model="t.images"></responsive-cover>
                </a>
                <p>
                    <b><a href="#/albums/{{t.id}}">{{t.name}}</a></b>
                </p>
            </li>
        </ul>
        <hr/>
        <br/>
    </div>

    <div ng-show="singles.length > 0">
        <h3>Singles</h3>
        <ul class="albums">
            <li ng-repeat="t in singles">
                <a href="#/albums/{{t.id}}">
                    <responsive-cover ng-model="t.images"></responsive-cover>
                </a>
                <p>
                    <b><a href="#/albums/{{t.id}}">{{t.name}}</a></b>
                </p>
            </li>
        </ul>
        <hr/>
        <br/>
    </div>

    <div ng-show="appearson.length > 0">
        <h3>Appears on</h3>
        <ul class="albums">
            <li ng-repeat="t in appearson">
                <a href="#/albums/{{t.id}}">
                    <responsive-cover ng-model="t.images"></responsive-cover>
                </a>
                <p>
                    <b><a href="#/albums/{{t.id}}">{{t.name}}</a></b>
                </p>
            </li>
        </ul>
        <hr/>
        <br/>
    </div>
</div>