<div ng-controller="ProfileController">
    <header>
        <div class="cover">
            <img src="images/user6.jpg" class="cover" alt="user1" width="200" height="200">
        </div>
        <h4>USER</h4>
        <h1>{{model.user.username}}</h1>
        <div class="follower-count">{{model.user.followers.length | number}} followers</div>
        <div class="buttons">
            <div ng-show="loginMessage">
                <div ng-show="!model.followStatus">
                    <a class="button green" ng-click="model.follow()">FOLLOW</a>
                </div>
                <div ng-show="model.followStatus">
                    <a class="button green" ng-click="model.unfollow()">UNFOLLOW</a>
                </div>
            </div>
            <div ng-show="!loginMessage">
                <a class="button button-add" href="/">FOLLOW</a>
            </div>
        </div>
    </header>

    <div class="nav">
        <ul>
            <li><a href="#/user">FAVOURITE</a></li>
            <li class="active"><a href="#/profile">PROFILE</a></li>
            <li><a href="#/userfollow">FOLLOWING</a></li>
        </ul>
    </div>
    <hr>
    <br>
    <div class="col-xs-12 form-style-5">
        <form>
            <fieldset>
                <legend><span class="number">1</span>USER INFORMATION</legend>
                <div class="form-group">
                    <label for="inputUsername" class="col-xs-2 control-label">Username:</label>
                    <div class="col-xs-10">
                        <input ng-model="profileUser.username" type="text" class="form-control" id="inputUsername"
                               placeholder="{{user.username}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-xs-2 control-label">Password:</label>
                    <div class="col-xs-10">
                        <input ng-model="profileUser.password" type="password" class="form-control" id="inputPassword"
                               placeholder="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFirstName" class="col-xs-2 control-label">FirstName:</label>
                    <div class="col-xs-10">
                        <input ng-model="profileUser.firstName" type="text" class="form-control" id="inputFirstName"
                               placeholder="{{user.firstName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastName" class="col-xs-2 control-label">LastName:</label>
                    <div class="col-xs-10">
                        <input ng-model="profileUser.lastName" type="text" class="form-control" id="inputLastName"
                               placeholder="{{user.lastName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-xs-2 control-label">Email:</label>
                    <div class="col-xs-10">
                        <input ng-model="profileUser.email" type="email" class="form-control" id="inputEmail"
                               placeholder="{{user.email}}">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend><span class="number">2</span> SELECT GENRES</legend>
                <select class="col-xs-10" id="genres" name="field4" ng-model="profileUser.genres">
                    <optgroup ng-repeat="gm in genresMoods">
                        <option ng-if="user.genres==null" value="{{gm.id}}">{{gm.name}}</option>
                        <option ng-if="user.genres!=null" value="{{profileUser.genres}}">{{gm.name}}</option>
                    </optgroup>
                </select>
            </fieldset>
            <input ng-click="model.update(profileUser)" type="submit" value="UPDATE">
        </form>
    </div>


</div>