<div ng-controller="UserFollowController">
    <header>
        <div class="cover">
            <img src="images/user6.jpg" class="cover" alt="user1" width="200" height="200">
        </div>
        <h4>USER</h4>
        <h1>{{model.user.username}}</h1>
        <div class="follower-count">{{model.user.followers.length | number}} followers</div>
        <div class="follower-count">{{model.user.following.length | number}} followings</div>
    </header>
    <div class="nav">
        <ul>
            <li><a href="#/user">FAVOURITE</a></li>
            <li><a href="#/profile">PROFILE</a></li>
            <li class="active"><a href="#/userfollow">FIND USER</a></li>
            <li><div ng-show="user.roles.indexOf('admin') >= 0"><a href="#/admin">ADMIN</a></div></li>
        </ul>
    </div>

    <div class="form-style-5 pull-left">
        <legend><span class="number">1</span>PEOPLE YOU MAY INTEREST IN</legend>
        <table class="tracks" ng-show="model.users.length > 0">
            <thead>
            <tr>
                <th class="text-center"><label>USER</label></th>
                <th class="text-center"></th>
                <th class="text-center"><label>GENRES</label></th>
                <th class="text-center"><label>ARTISTS</label></th>
                <th class="text-center"><label>ALBUMS</label></th>
                <th class="text-center"><label>FAVORITE TRACKS</label></th>
                <th class="text-center col-sm-3"><label>ACTION</label></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in model.users">
                <td>
                    <img src="images/user3.jpg" class="img-rounded" alt="{{user.username}} image" width="80" height="80">
                </td>
                <td><label>{{user.username}}</label></td>
                <td><label>{{user.genres}}</label></td>
                <td>
                    <div ng-show="user.favoriteArtists[0]">
                        <img src="{{user.favoriteArtists[0].imageUrl}}" class="img-rounded" alt="{{artist.name}} image" width="80" height="80">
                    </div>
                </td>
                <td>
                    <div ng-show="user.favoriteAlbums[0]">
                        <img src="{{user.favoriteAlbums[0].imageUrl}}" class="img-rounded" alt="{{album.name}} image" width="80" height="80">
                    </div>
                </td>
                <td>
                    <iframe ng-src="{{user.favoriteSongs[0].uri | trustUrl}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                </td>
                <td class="col-sm-3 text-center">
                    <a ng-click="model.follow(user)" class="button green">FOLLOW</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br><br>
        <legend><span class="number">2</span>FOLLOWINGS && FOLLOWERS</legend>
        <div class="col-xs-6">
            <ul class="playlists" ng-show="model.followings.length > 0">
                <h4>FOLLOWING</h4>
                <li class="searchresult" ng-repeat="foi in model.followings">
                    <a>
                        <img src="images/user3.jpg" class="img-rounded" alt="{{foi.username}} image" width="160" height="160">
                    </a>
                    <p>
                        <a>{{foi.username}}</a><br>
                        <a ng-click="model.deleteFollowing(foi)" class="button button-add pull-right">UNFOLLOW</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="playlists" ng-show="model.followers.length > 0">
                <h4>FOLLOWER</h4>
                <li class="searchresult" ng-repeat="foe in model.followers">
                    <a>
                        <img src="images/user3.jpg" class="img-rounded" alt="{{foe.username}} image" width="160" height="160">
                    </a>
                    <p>
                        <a>{{foe.username}}</a><br>
                        <a ng-click="model.deleteFollower(foe)" class="button button-add pull-right">UNFOLLOW</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
