<div ng-controller="UserFollowController">
    <header>
        <div class="cover">
            <img src="images/user6.jpg" class="cover" alt="user1" width="200" height="200">
        </div>
        <h4>USER</h4>
        <h1>{{model.user.username}}</h1>
        <div class="follower-count">{{model.user.followers.length | number}} followers</div>
        <div class="follower-count">{{model.user.following.length | number}} followers</div>
        <div class="buttons">
            <div ng-show="loginMessage">
                <div ng-show="!model.followStatus">
                    <a class="button green" ng-click="model.follow()">FOLLOW</a>
                </div>
                <div ng-show="model.followStatus">
                    <a class="button green" ng-click="model.unfollow()">UNFOLLOW</a>
                </div>
            </div>
            <div ng-show="!loginMessage">
                <a class="button button-add" href="/">FOLLOW</a>
            </div>
        </div>
    </header>
    <div class="nav">
        <ul>
            <li><a href="#/user">FAVOURITE</a></li>
            <li><a href="#/profile">PROFILE</a></li>
            <li class="active"><a href="#/userfollow">FOLLOWING</a></li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h2>My Following</h2>
        <div class="col-sm-12">
            <div class="col-sm-4" ng-repeat="following in model.followings">
                <a href="#/view-user" ng-click="model.saveCurrentUserId(following.id)"><img src="img/user.jpg" class="img-thumbnail" alt="{{following.username}} image" width="200" height="200"></a>
                <h4><a href="#/view-user" ng-click="model.saveCurrentUserId(following.id)">{{following.username}}</a></h4>
                <a ng-click="model.deleteFollowing(following)" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a>
            </div>
        </div>
    </div>



</div>





<div class="row">
    <div class="col-sm-4">
        <h3></h3>
        <img src="img/user.jpg" class="img-thumbnail" alt="user1" width="200" height="200">
    </div>
    <div class="col-sm-5">
        <h2>{{model.user.username}}</h2>
        <ul>
            <li>First Name: {{model.user.firstName}}</li>
            <li>Last Name: {{model.user.lastName}}</li>
            <li>Email: {{model.user.email}}</li>
            <li>following: {{model.user.following.length}}</li>
            <li>followers: {{model.user.followers.length}}</li>
        </ul>
    </div>
</div>
<div class="col-sm-12">
    <h2>My Following</h2>
    <div class="col-sm-12">
        <div class="col-sm-4" ng-repeat="following in model.followings">
            <a href="#/view-user" ng-click="model.saveCurrentUserId(following.id)"><img src="img/user.jpg" class="img-thumbnail" alt="{{following.username}} image" width="200" height="200"></a>
            <h4><a href="#/view-user" ng-click="model.saveCurrentUserId(following.id)">{{following.username}}</a></h4>
            <a ng-click="model.deleteFollowing(following)" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <h2>My Followers</h2>
    <div class="col-sm-12">
        <div class="col-sm-4" ng-repeat="follower in model.followers">
            <a href="#/view-user" ng-click="model.saveCurrentUserId(follower.id)"><img src="img/user.jpg" class="img-thumbnail" alt="{{follower.username}} image" width="200" height="200"></a>
            <h4><a href="#/view-user" ng-click="model.saveCurrentUserId(follower.id)">{{follower.username}}</a></h4>
            <a ng-click="model.deleteFollower(follower)" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
        </div>
    </div>
</div>