<div ng-controller="UserFollowController">
    <header>
        <div class="cover">
            <img src="images/user6.jpg" class="cover" alt="user1" width="200" height="200">
        </div>
        <h4>USER</h4>
        <h1>{{model.user.username}}</h1>
        <div class="follower-count">{{model.user.followers.length | number}} followers</div>
        <div class="follower-count">{{model.user.following.length | number}} followings</div>
    </header>
    <div class="nav">
        <ul>
            <li><a href="#/user">FAVOURITE</a></li>
            <li><a href="#/profile">PROFILE</a></li>
            <li class="active"><a href="#/userfollow">FIND USER</a></li>
        </ul>
    </div>
    <hr>
    <br>
    <div class="row col-xs-12">
        <div class="col-xs-6">
            <ul class="playlists" ng-show="model.users.length > 0">
                <h4>PEOPLE YOU MAY INTEREST IN</h4>
                <li class="searchresult" ng-repeat="user in model.users">
                    <a ng-click="model.saveViewUserId(user.id)">
                        <img src="images/user3.jpg" class="img-rounded" alt="{{user.username}} image" width="160" height="160">
                    </a>
                    <p>
                        <a ng-click="model.saveViewUserId(user.id)">{{user.username}}</a><br>
                        <a ng-click="model.follow(user)" class="button green pull-right">FOLLOW</a>
                    </p>
                </li>
            </ul>
        </div>
        <hr>
        <br>
        <div class="col-xs-6">
            <ul class="playlists" ng-show="model.followings.length > 0">
                <h4>FOLLOWING</h4>
                <li class="searchresult" ng-repeat="foi in model.followings">
                    <a ng-click="model.saveViewUserId(foi.id)">
                        <img src="images/user3.jpg" class="img-rounded" alt="{{foi.username}} image" width="160" height="160">
                    </a>
                    <p><a ng-click="model.saveViewUserId(foi.id)">{{foi.username}}</a><br>
                        <a ng-click="model.deleteFollowing(foi)" class="button button-add pull-right">UNFOLLOW</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="playlists" ng-show="model.followers.length > 0">
                <h4>FOLLOWER</h4>
                <li class="searchresult" ng-repeat="foe in model.followers">
                    <a ng-click="model.saveViewUserId(foe.id)">
                        <img src="images/user3.jpg" class="img-rounded" alt="{{foe.username}} image" width="160" height="160">
                    </a>
                    <p><a ng-click="model.saveViewUserId(foe.id)">{{foe.username}}</a><br>
                        <a ng-click="model.deleteFollower(foe)" class="button button-add pull-right">UNFOLLOW</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
