<div ng-controller="SongController">
<div class="col-sm-12">
<div class="col-sm-4">
	<img src="{{model.song.album.images[0].url}}" class="img-thumbnail" alt="{{album.name}} image" width="200" height="200">
</div> 
<div class="col-sm-8">
	<h2>{{model.song.name}}</h2>
	<ul>
			<li>Polularity: 
				<ul class="list-inline">
						<li ng-repeat="n in [] | range: model.song.popularity">
							<span class="glyphicon glyphicon-heart"></span>
						</li>
				</ul>
			</li>
			<li>Artist: </li>
			<ul ng-repeat="artist in model.song.artists">
				<li>{{artist.name}}</li>
			</ul>
			<li>Album: {{model.song.album.name}}</li>
			<li>Time duration: {{model.millisToMinutesAndSeconds(model.song.duration_ms)}}</li>
	</ul>
</div>
<div ng-show="loginMessage">
		<div ng-show="!model.likeStatus">
			<button class="btn-info btn pull-right" ng-click="model.addSongToUser()"><a href="#/user">like</a></button>
		</div>
		<div ng-show="model.likeStatus">
			<button class="btn-info btn pull-right" ng-click="model.deleteSongFromUser()"><a href="#/user">unlike</a></button>
		</div>
</div>
<div ng-show="!loginMessage">
		<button class="btn-info btn pull-right" ng-click="model.saveLocation()"><a href="#/login">like</a></button>
</div>
</div>

<div class="col-sm-12">
		<h2>Audio Player</h2>
	  <iframe ng-src="{{model.song.uri | trustUrl}}" frameborder="0" allowtransparency="true"></iframe>
</div>
<div class="col-sm-12">
<h2>Comments</h2>               
<div class="detailBox">
<div class="actionBox">
		<ul class="commentList" ng-repeat="comment in model.comments">
				<li>
						<div>
						<a href="#/view-user" ng-click="model.saveCommentUserId(comment.userId)"><h5>{{comment.username}}: </h5></a>
						</div>                                    
						<div class="commentText">
								<p>{{comment.content}}</p> <span class="date sub-text">on {{comment.date}}</span>
						</div>
				</li>
		</ul>
		<input ng-model="content" class="form-control" type="textarea" placeholder="add your comments" />
		<button ng-show="loginMessage" class="btn btn-info" ng-click="model.addComment(content)">Add</button>
		<button ng-show="!loginMessage" class="btn btn-info" ng-click="model.saveLocation()"><a href="#/login">Add</a></button>
</div>
</div>
</div>
</div>