<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/user">My Favorite</a></li>
	<li role="presentation" class="active"><a href="#/user-comment">My Comments</a></li>
	<li role="presentation"><a href="#/user-follow">My following</a></li>
</ul>
<div class="row">
	<div class="col-sm-4">
			<h3></h3>
			<img src="img/user.jpg" class="img-thumbnail" alt="user1" width="200" height="200">
	</div>            
	<div class="col-sm-5">
			<h2>{{model.user.username}}</h2>
			<ul>
				<li>First Name: {{model.user.firstName}}</li>
				<li>Last Name: {{model.user.lastName}}</li>
				<li>Email: {{model.user.email}}</li>
				<li>following: {{model.user.following.length}}</li>
				<li>followers: {{model.user.followers.length}}</li>
			</ul>
	</div>
</div>
<div class="col-sm-12">
		<h2>Comments</h2>               
		<div class="detailBox">
		<div class="actionBox">
				<ul class="commentList" ng-repeat="comment in model.comments">
						<li>
								<div>
								<h5>{{comment.type}} </h5>
								</div>     
								<div>
								<a href="#/{{comment.type}}"><h5 ng-click="model.saveId(comment.type, comment.id)">[{{comment.name}}]</h5></a>
								</div>  
								<div class="commentText">
										<p>: {{comment.content}}</p> <span class="date sub-text">on {{comment.date}}</span>
								</div>
						</li>
				</ul>
		</div>
		</div>
</div>