<div ng-controller="LoginController" class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login with</h4>
            </div>
            <div class="modal-body">
                <div class="box content">
                    <div class="error"></div>
                    <div ng-switch on="model.loginDisplayMessage">
                        <div ng-switch-when="error" class="error"><h5>Sorry, please try again</h5></div>
                        <div ng-switch-when="success"><h5>Successfully logged in</h5></div>
                        <div class="form loginBox">
                            <form method="post" accept-charset="UTF-8">
                                <input ng-model="loginUser.username" class="form-control" type="text" placeholder="Username">
                                <input ng-model="loginUser.password" class="form-control" type="password" placeholder="Password">
                                <input ng-click="model.login(loginUser)" class="btn btn-default btn-login" type="button" value="Login">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                        <span>Looking to<a href="#/register">create an account</a>?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>