<div ng-controller="SearchController">
	
<script>
    $(function () { $(".carousel").carousel({ interval: 5000
    }); });
</script>
<div class="carousel slide"  data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" style="background-color: Gray">
          <img src="img/katy-perry-prism-cover.jpg" alt="cover1" width="300" height="300">
					<div class="carousel-caption">
						<h2>Like your favorite artists, albums, and songs!</h2>
					</div>
        </div>
        <div class="item" style="background-color: Gray">
          <img src="img/Maroon-5-Overexposed-Cover.jpg" alt="cover2" width="300" height="300">
					<div class="carousel-caption">
						<h2>Comment your interested artists, albums, and songs!</h2>
					</div>
        </div>
        <div class="item" style="background-color: Gray">
          <img src="img/bruno-mars-cover.jpg" alt="cover3" width="300" height="300">
					<div class="carousel-caption">
						<h2>Follow the cool users!</h2>
					</div>
        </div>
    </div>
</div>

<div>
<h1>Search</h1>
<p>Type an artist name or album name or song name, and click on "Search". Then, click on any artist or album or song from the results to see details. </p>
<p>You could LIKE, or COMMENT any artist, album, or song you like, and you could FOLLOW any your interested user after you logged in!</p>
<form>
	<input type="text" ng-model="input" class="form-control" placeholder="Type an Artist or Album or Song Name"/>
	<input ng-click="model.search(input)" class="btn btn-primary" value="Search" />
</form>
</div>
	
<div>
	<div ng-show="model.showArtist" class="col-sm-6">
		<h2>Artist</h2>
		<div class="row">
			<div class="col-sm-4" ng-repeat="artist in model.artists" style="height:200px;width:140px">
<!--					style="height:32px;width:32px"-->
				<a href="#/artist" ng-click="model.saveArtist(artist)">
						<img src="{{artist.images[0].url}}" class="img-rounded" alt="{{artist.name}} image" width="130" height="130">
				</a>
				<a href="#/artist" ng-click="model.saveArtist(artist)">
						<h5>{{artist.name}}</h5>
				</a>                
			</div>
		</div>
	</div>
	<div ng-show="model.showAlbum" class="col-sm-6">
			<h2>Album</h2>
		<div class="row">
			<div class="col-sm-4" ng-repeat="album in model.albums" style="height:200px;width:140px">
				<a href="#/album" ng-click="model.saveAlbum(album)">
						<img src="{{album.images[0].url}}" class="img-rounded" alt="{{album.name}} image" width="130" height="130">
				</a>
				<a href="#/album" ng-click="model.saveAlbum(album)">
						<h5>{{album.name}}</h5>
				</a>                
			</div>
		</div>
	</div>
	<div ng-show="model.showSong" class="col-sm-12">
			<h2>Songs</h2>
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
				<tr>
					<th>
						Song Name
					</th>
					<th>
						Artist Name
					</th>
					<th>
						Album Name
					</th>
					<th>
						Time Duration
					</th>
					<th>
						Preview
					</th>
					<th>
						Popularity
					</th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="song in model.songs">
						<td>
							<a href="#/song" ng-click="model.saveSong(song)">
								{{song.name}}
							</a>
						</td>
						<td>
							<ul ng-repeat="artist in song.artists">
								<li><a href="#/artist" ng-click="model.saveArtist(artist)">{{artist.name}}</a></li>
							</ul>
						</td>
						<td>
							<a href="#/album" ng-click="model.saveAlbum(song.album)">
								{{song.album.name}}
							</a>
						</td>
						<td>
							{{model.millisToMinutesAndSeconds(song.duration_ms)}}
						</td>
						<td>
							<iframe ng-src="{{song.uri | trustUrl}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
						</td>
						<td>
							<ul class="list-inline">
								<li ng-repeat="n in [] | range: song.popularity">
									<span class="glyphicon glyphicon-heart"></span>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
</div>